* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Ubuntu", "Calibri", "Segoe UI", Avenir, Helvetica, sans-serif;
  background: #FFFFFF;
}

#header {
  position: absolute;
  max-height: 3rem;
}

#chart {
  position: absolute;
  top: 5rem;
  bottom: 1rem;
  width: 85%;
  left: 1rem;
}

.ann {
  font-size: 20px !important;
  border: none;
  opacity: 1;
  background: transparent;
}

input.year {
  width: 3.3rem;
  text-align: center;
}

input.dygraph-roller {
  width: 2rem;
  text-align: center;
}

.annv {
  transform: rotateZ(-90deg);
  transform-origin: 0% 100%;
  padding-left: 1em;
  border: none !important;
  border-bottom: 1px solid #000 !important;
  font-size: 16pt !important;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8) !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

form.time {
  display: flex;
  justify-content: space-between;
}

div.cols {
  display: flex;
  justify-content: center;
}
div.cols > div {
  border: 1px solid;
  margin: 0 1rem;
  padding: 0 1rem;
}
